# Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import collections
%matplotlib inline

# Lendo dados

In [2]:
listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')
calendar = pd.read_csv('calendar.csv')

/home/luis/anaconda3/envs/airbnb/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (61,62,94) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20191122092441,2019-11-22,Very Nice 2Br - Copacabana - WiFi,Pls note that special rates apply for Carnival...,- large balcony which looks out on pedestrian ...,Pls note that special rates apply for Carnival...,none,This is the best spot in Rio. Everything happe...,...,t,f,strict_14_with_grace_period,f,f,1,1,0,0,2.13
1,25026,https://www.airbnb.com/rooms/25026,20191122092441,2019-11-22,Beautiful Modern Decorated Studio in Copa,"Our apartment is a little gem, everyone loves ...",This newly renovated studio (last renovations ...,"Our apartment is a little gem, everyone loves ...",none,Copacabana is a lively neighborhood and the ap...,...,f,f,strict_14_with_grace_period,t,t,3,3,0,0,2.04
2,31560,https://www.airbnb.com/rooms/31560,20191122092441,2019-11-22,NICE & COZY 1BDR - IPANEMA BEACH,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,none,Die Nachbarschaft von Ipanema ist super lebend...,...,t,f,strict_14_with_grace_period,f,f,1,1,0,0,2.38
3,35636,https://www.airbnb.com/rooms/35636,20191122092441,2019-11-22,Cosy flat close to Ipanema beach,This cosy apartment is just a few steps away ...,"The location is extremely convenient, safe and...",This cosy apartment is just a few steps away ...,none,The apartment street is very quiet and safe ....,...,f,f,strict_14_with_grace_period,t,t,1,1,0,0,2.28
4,35764,https://www.airbnb.com/rooms/35764,20191122092441,2019-11-22,COPACABANA SEA BREEZE - RIO - 20 X Superhost,Our newly renovated studio is located in the b...,"FEEL LIKE YOUR HOME LIVING AS ""CARIOCA"" LOCAL ...",Our newly renovated studio is located in the b...,none,Our guests will experience living with a local...,...,f,f,strict_14_with_grace_period,f,t,1,1,0,0,2.84

In [4]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
1,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
2,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
3,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r\n...
4,17878,147594,2010-12-01,219338,David,The apt was nice and in a great location only ...

In [5]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3042602,2019-11-22,t,"$1,679.00","$1,679.00",1.0,1125.0
1,3042602,2019-11-23,t,"$1,679.00","$1,679.00",1.0,1125.0
2,3042602,2019-11-24,t,"$1,679.00","$1,679.00",1.0,1125.0
3,3042602,2019-11-25,t,"$1,679.00","$1,679.00",1.0,1125.0
4,3042602,2019-11-26,t,"$1,679.00","$1,679.00",1.0,1125.0

# Limpeza de dados

Como o arquivo de listings tem muitas columas, vamos ver o que estÃ¡ em cada uma delas.

In [6]:
print(len(listings.columns))
print(list(listings.columns))

106
['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description', 'experiences_offered', 'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market', 'smart_location', 'country_code', 'country', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'requires_license', 'license', 'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

Algumas destas colunas parecem ser binÃ¡rias. Vamos ver o que hÃ¡ nestes dados.

In [7]:
listings['is_location_exact'].unique()

array(['t', 'f'], dtype=object)

Os dados binÃ¡rios estÃ£o apresentados com 't' (True) e 'f' (False). Para melhor interpretÃ¡-los, Ã© melhor que sejam variÃ¡veis binÃ¡rias (1 e 0). Vamos entÃ£o realizar esta conversÃ£o.

In [8]:
binary_cols = ['host_is_superhost', 'host_identity_verified', 'is_location_exact',
               'has_availability', 'requires_license', 'instant_bookable',
               'is_business_travel_ready', 'require_guest_profile_picture',
               'require_guest_phone_verification',  'host_has_profile_pic']

for col in binary_cols:
    listings[col] = listings[col].apply(lambda x: 1 if x == 't' else 0)

Na Coluna de avaliaÃ§Ãµes por mÃªs existem muitos valores nulos. Podemos interpretar que os valores nulos correspondem a zero.

In [9]:
listings['reviews_per_month'].fillna(0, inplace=True)

As variÃ¡veis de preÃ§o estÃ£o com um $ em todos os valores, devemos converter estes dados para pontos flutuantes (Float)

In [10]:
listings['price'] = listings['price'].replace('[\$,)]', '', regex=True).astype(float)
listings['security_deposit'] = listings['security_deposit'].replace('[\$,)]', '', regex=True).astype(float)
listings['extra_people'] = listings['extra_people'].replace('[\$,)]', '', regex=True).astype(float)
listings['cleaning_fee'] = listings['cleaning_fee'].replace('[\$,)]', '', regex=True).astype(float)

Como diversas colunas sÃ£o dados textuais, estas teriam de receber um tratamento especial, possivelmente envolvendo processamento de linguagem natural (NLP), mas para manter nosso modelo simples, vamos descartar estas informaÃ§Ãµes. PossÃ­veis abordagens para extrair features relevantes destes campos seriam a utilizaÃ§Ã£o de palavras chaves, Word2Vec, mecanismos de anÃ¡lise de sentimentos, etc.

In [11]:
string_cols = ['listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description',
               'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules',
               'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url',
               'host_name', 'host_location', 'host_about', 'host_thumbnail_url', 'host_picture_url',
               'host_neighbourhood', 'host_verifications', 'calendar_last_scraped', 'calendar_updated']
listings = listings.drop(string_cols, axis=1)

Se existem colunas constantes, podemos descartÃ¡-las

In [12]:
listings = listings.drop([x for x in listings.columns if listings[x].nunique() < 2], axis=1)

Como nossos dados foram recolhidos selecionando apenas a cidade do Rio de Janeiro, podemos descartar algumas informaÃ§Ãµes relativas a localizaÃ§Ã£o.

In [13]:
drop_cols = ['city', 'state', 'zipcode', 'market', 'smart_location',
             'country_code', 'country', 'street', 'neighbourhood_cleansed']
listings = listings.drop(drop_cols, axis=1)

Quase sempre Ã© bastante Ãºtil extrair features de datas, por exemplo para extrair dados de sasonalidade. No entanto, para manter nosso modelo simples, vamos descartar estes dados.

In [14]:
drop_cols = ['host_since', 'first_review', 'last_review']
listings = listings.drop(drop_cols, axis=1)

A variÃ¡vel 'host_response_rate' estÃ¡ como uma string. Ela pode ser convertida para um nÃºmero para ser melhor interpretado por nossos modelos. Note que existem valores nulos nesta coluna, mas ainda nÃ£o irei tratÃ¡-los.

In [15]:
host_response_rate = []
for p in listings['host_response_rate']:
    if type(p) == str:
        host_response_rate.append(float(p.replace('%', '')))
    else:
        host_response_rate.append(p)
listings['host_response_rate'] = host_response_rate

Algumas informaÃ§Ãµes sobre os dados que ainda temos:

In [16]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33715 entries, 0 to 33714
Data columns (total 59 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            33715 non-null  int64
 1   host_response_time                            21481 non-null  object
 2   host_response_rate                            21481 non-null  float64
 3   host_is_superhost                             33715 non-null  int64
 4   host_listings_count                           33695 non-null  float64
 5   host_total_listings_count                     33695 non-null  float64
 6   host_has_profile_pic                          33715 non-null  int64
 7   host_identity_verified                        33715 non-null  int64
 8   neighbourhood                                 31757 non-null  object
 9   latitude                                      33715 non-null  float64
 10  longitude                                     33715 non-null  float64
 11  is_location_exact                             33715 non-null  int64
 12  property_type                                 33715 non-null  object
 13  room_type                                     33715 non-null  object
 14  accommodates                                  33715 non-null  int64
 15  bathrooms                                     33661 non-null  float64
 16  bedrooms                                      33673 non-null  float64
 17  beds                                          33667 non-null  float64
 18  bed_type                                      33715 non-null  object
 19  amenities                                     33715 non-null  object
 20  square_feet                                   495 non-null    float64
 21  price                                         33715 non-null  float64
 22  weekly_price                                  2546 non-null   object
 23  monthly_price                                 2825 non-null   object
 24  security_deposit                              18935 non-null  float64
 25  cleaning_fee                                  22731 non-null  float64
 26  guests_included                               33715 non-null  int64
 27  extra_people                                  33715 non-null  float64
 28  minimum_nights                                33715 non-null  int64
 29  maximum_nights                                33715 non-null  int64
 30  minimum_minimum_nights                        33715 non-null  int64
 31  maximum_minimum_nights                        33715 non-null  int64
 32  minimum_maximum_nights                        33715 non-null  int64
 33  maximum_maximum_nights                        33715 non-null  int64
 34  minimum_nights_avg_ntm                        33715 non-null  float64
 35  maximum_nights_avg_ntm                        33715 non-null  float64
 36  availability_30                               33715 non-null  int64
 37  availability_60                               33715 non-null  int64
 38  availability_90                               33715 non-null  int64
 39  availability_365                              33715 non-null  int64
 40  number_of_reviews                             33715 non-null  int64
 41  number_of_reviews_ltm                         33715 non-null  int64
 42  review_scores_rating                          18293 non-null  float64
 43  review_scores_accuracy                        18275 non-null  float64
 44  review_scores_cleanliness                     18280 non-null  float64
 45  review_scores_checkin                         18274 non-null  float64
 46  review_scores_communication                   18280 non-null  float64
 47  review_scores_location                        18277 non-null  float64
 48  review_scores_value                           18278 non-null  float64
 49  license                                       2 non-null      object
 50  instant_bookable                              33715 non-null  int64
 51  cancellation_policy                           33715 non-null  object
 52  require_guest_profile_picture                 33715 non-null  int64
 53  require_guest_phone_verification              33715 non-null  int64
 54  calculated_host_listings_count                33715 non-null  int64
 55  calculated_host_listings_count_entire_homes   33715 non-null  int64
 56  calculated_host_listings_count_private_rooms  33715 non-null  int64
 57  calculated_host_listings_count_shared_rooms   33715 non-null  int64
 58  reviews_per_month                             33715 non-null  float64
dtypes: float64(23), int64(26), object(10)
memory usage: 15.2+ MB

Os valores de 'licence' e 'square_feet' possuem muitos valores nulos, portanto serÃ£o descartados.

In [17]:
drop_cols = ['license', 'square_feet']
listings = listings.drop(drop_cols, axis=1)

Como nossa ideia Ã© prever a variÃ¡vel 'price', nÃ£o podemos utilizar as variÃ¡veis 'weekly_price' e 'monthly_price'.

In [18]:
drop_cols = ['weekly_price', 'monthly_price']
listings = listings.drop(drop_cols, axis=1)

In [19]:
print(len(listings.columns))
print(list(listings.columns))

55
['id', 'host_response_time', 'host_response_rate', 'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [20]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33715 entries, 0 to 33714
Data columns (total 55 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            33715 non-null  int64
 1   host_response_time                            21481 non-null  object
 2   host_response_rate                            21481 non-null  float64
 3   host_is_superhost                             33715 non-null  int64
 4   host_listings_count                           33695 non-null  float64
 5   host_total_listings_count                     33695 non-null  float64
 6   host_has_profile_pic                          33715 non-null  int64
 7   host_identity_verified                        33715 non-null  int64
 8   neighbourhood                                 31757 non-null  object
 9   latitude                                      33715 non-null  float64
 10  longitude                                     33715 non-null  float64
 11  is_location_exact                             33715 non-null  int64
 12  property_type                                 33715 non-null  object
 13  room_type                                     33715 non-null  object
 14  accommodates                                  33715 non-null  int64
 15  bathrooms                                     33661 non-null  float64
 16  bedrooms                                      33673 non-null  float64
 17  beds                                          33667 non-null  float64
 18  bed_type                                      33715 non-null  object
 19  amenities                                     33715 non-null  object
 20  price                                         33715 non-null  float64
 21  security_deposit                              18935 non-null  float64
 22  cleaning_fee                                  22731 non-null  float64
 23  guests_included                               33715 non-null  int64
 24  extra_people                                  33715 non-null  float64
 25  minimum_nights                                33715 non-null  int64
 26  maximum_nights                                33715 non-null  int64
 27  minimum_minimum_nights                        33715 non-null  int64
 28  maximum_minimum_nights                        33715 non-null  int64
 29  minimum_maximum_nights                        33715 non-null  int64
 30  maximum_maximum_nights                        33715 non-null  int64
 31  minimum_nights_avg_ntm                        33715 non-null  float64
 32  maximum_nights_avg_ntm                        33715 non-null  float64
 33  availability_30                               33715 non-null  int64
 34  availability_60                               33715 non-null  int64
 35  availability_90                               33715 non-null  int64
 36  availability_365                              33715 non-null  int64
 37  number_of_reviews                             33715 non-null  int64
 38  number_of_reviews_ltm                         33715 non-null  int64
 39  review_scores_rating                          18293 non-null  float64
 40  review_scores_accuracy                        18275 non-null  float64
 41  review_scores_cleanliness                     18280 non-null  float64
 42  review_scores_checkin                         18274 non-null  float64
 43  review_scores_communication                   18280 non-null  float64
 44  review_scores_location                        18277 non-null  float64
 45  review_scores_value                           18278 non-null  float64
 46  instant_bookable                              33715 non-null  int64
 47  cancellation_policy                           33715 non-null  object
 48  require_guest_profile_picture                 33715 non-null  int64
 49  require_guest_phone_verification              33715 non-null  int64
 50  calculated_host_listings_count                33715 non-null  int64
 51  calculated_host_listings_count_entire_homes   33715 non-null  int64
 52  calculated_host_listings_count_private_rooms  33715 non-null  int64
 53  calculated_host_listings_count_shared_rooms   33715 non-null  int64
 54  reviews_per_month                             33715 non-null  float64
dtypes: float64(22), int64(26), object(7)
memory usage: 14.1+ MB

Notemos o que hÃ¡ dentro da variÃ¡vel 'amenities':

In [22]:
listings['amenities'].head()

0    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
1    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
2    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
3    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
4    {TV,"Cable TV",Wifi,"Air conditioning",Kitchen...
Name: amenities, dtype: object

Temos listados os equipamentos e adicionais disponÃ­veis no aluguel. Esta variÃ¡vel poderia ser descartada, mas possui um potencial interessante de extraÃ§Ã£o de features categoricas. Vamos entÃ£o realizar esta extraÃ§Ã£o.

TambÃ©m, vÃ¡rias variÃ¡veis sÃ£o dados categoricos. Para melhor lidar com eles, vamos utilizar o pd.dummies

In [ ]:
tmp = listings['amenities'][0].replace('{','').replace('}','').replace('"','')

In [ ]:
tmp.split(',')

In [ ]:
sns.boxplot(listings['square_feet'])

In [ ]:
plt.hist(listings['square_feet'], bins=50)

In [ ]:
calendar[calendar['price'] != calendar['adjusted_price']]

In [ ]:
listings['neighbourhood'].unique()

In [ ]:
listings['room_type'].unique()

In [ ]:
collections.Counter(listings['neighbourhood'])

In [ ]:
sns.countplot(listings['room_type'])