# Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import collections
%matplotlib inline

# Lendo dados

In [89]:
listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')
calendar = pd.read_csv('calendar.csv')

/home/luis/anaconda3/envs/airbnb/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (61,62,94) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [90]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20191122092441,2019-11-22,Very Nice 2Br - Copacabana - WiFi,Pls note that special rates apply for Carnival...,- large balcony which looks out on pedestrian ...,Pls note that special rates apply for Carnival...,none,This is the best spot in Rio. Everything happe...,...,t,f,strict_14_with_grace_period,f,f,1,1,0,0,2.13
1,25026,https://www.airbnb.com/rooms/25026,20191122092441,2019-11-22,Beautiful Modern Decorated Studio in Copa,"Our apartment is a little gem, everyone loves ...",This newly renovated studio (last renovations ...,"Our apartment is a little gem, everyone loves ...",none,Copacabana is a lively neighborhood and the ap...,...,f,f,strict_14_with_grace_period,t,t,3,3,0,0,2.04
2,31560,https://www.airbnb.com/rooms/31560,20191122092441,2019-11-22,NICE & COZY 1BDR - IPANEMA BEACH,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,none,Die Nachbarschaft von Ipanema ist super lebend...,...,t,f,strict_14_with_grace_period,f,f,1,1,0,0,2.38
3,35636,https://www.airbnb.com/rooms/35636,20191122092441,2019-11-22,Cosy flat close to Ipanema beach,This cosy apartment is just a few steps away ...,"The location is extremely convenient, safe and...",This cosy apartment is just a few steps away ...,none,The apartment street is very quiet and safe ....,...,f,f,strict_14_with_grace_period,t,t,1,1,0,0,2.28
4,35764,https://www.airbnb.com/rooms/35764,20191122092441,2019-11-22,COPACABANA SEA BREEZE - RIO - 20 X Superhost,Our newly renovated studio is located in the b...,"FEEL LIKE YOUR HOME LIVING AS ""CARIOCA"" LOCAL ...",Our newly renovated studio is located in the b...,none,Our guests will experience living with a local...,...,f,f,strict_14_with_grace_period,f,t,1,1,0,0,2.84

In [91]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
1,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
2,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
3,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r\n...
4,17878,147594,2010-12-01,219338,David,The apt was nice and in a great location only ...

In [92]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3042602,2019-11-22,t,"$1,679.00","$1,679.00",1.0,1125.0
1,3042602,2019-11-23,t,"$1,679.00","$1,679.00",1.0,1125.0
2,3042602,2019-11-24,t,"$1,679.00","$1,679.00",1.0,1125.0
3,3042602,2019-11-25,t,"$1,679.00","$1,679.00",1.0,1125.0
4,3042602,2019-11-26,t,"$1,679.00","$1,679.00",1.0,1125.0

# Limpeza de dados

Como o arquivo de listings tem muitas columas, vamos ver o que está em cada uma delas.

In [93]:
print(len(listings.columns))
print(list(listings.columns))

106
['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description', 'experiences_offered', 'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market', 'smart_location', 'country_code', 'country', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'requires_license', 'license', 'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

Algumas destas colunas parecem ser binárias. Vamos ver o que há nestes dados.

In [94]:
listings['is_location_exact'].unique()

array(['t', 'f'], dtype=object)

Os dados binários estão apresentados com 't' (True) e 'f' (False). Para melhor interpretá-los, é melhor que sejam variáveis binárias (1 e 0). Vamos então realizar esta conversão.

In [95]:
binary_cols = ['host_is_superhost', 'host_identity_verified', 'is_location_exact',
               'has_availability', 'requires_license', 'instant_bookable',
               'is_business_travel_ready', 'require_guest_profile_picture',
               'require_guest_phone_verification']

for col in binary_cols:
    listings[col] = listings[col].apply(lambda x: 1 if x == 't' else 0)

Na Coluna de avaliações por mês existem muitos valores nulos. Podemos interpretar que os valores nulos correspondem a zero.

In [96]:
listings['reviews_per_month'].fillna(0, inplace=True)

O preço está com um $ em todos os valores, devemos converter estes dados para pontos flutuantes (Float)

In [97]:
listings['price'] = listings['price'].replace('[\$,)]', '', regex=True).astype(float)

Como diversas colunas são dados textuais, estas teriam de receber um tratamento especial, possivelmente envolvendo processamento de linguagem natural (NLP). Possíveis abordagens para extrair features relevantes destes campos seriam a utilização de palavras chaves, Word2Vec, mecanismos de análise de sentimentos, etc.

In [98]:
string_cols = ['listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description',
               'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules',
               'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url',
               'host_name', 'host_location', 'host_about', 'host_thumbnail_url', 'host_picture_url',
               'host_neighbourhood', 'host_verifications', 'calendar_last_scraped']
listings = listings.drop(string_cols, axis=1)

Se existem colunas constantes, podemos descartá-las

In [99]:
listings = listings.drop([x for x in listings.columns if listings[x].nunique() < 2], axis=1)

Também, várias variáveis são dados categoricos. Para melhor lidar com eles, vamos utilizar o pd.dummies

In [100]:
print(len(listings.columns))
print(list(listings.columns))

72
['id', 'host_since', 'host_response_time', 'host_response_rate', 'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'city', 'state', 'zipcode', 'market', 'smart_location', 'country_code', 'country', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [7]:
listings[listings['country_code'] =='DM']

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
25786,30475913,https://www.airbnb.com/rooms/30475913,20191122092441,2019-11-22,Disponible en cana village,NaN,NaN,NaN,none,NaN,...,t,f,flexible,f,f,1,1,0,0,NaN

In [ ]:
tmp = listings['amenities'][0].replace('{','').replace('}','').replace('"','')

In [ ]:
tmp.split(',')

In [ ]:
sns.boxplot(listings['square_feet'])

In [ ]:
plt.hist(listings['square_feet'], bins=50)

In [ ]:
calendar[calendar['price'] != calendar['adjusted_price']]

In [ ]:
listings['neighbourhood'].unique()

In [ ]:
listings['room_type'].unique()

In [ ]:
collections.Counter(listings['neighbourhood'])

In [ ]:
sns.countplot(listings['room_type'])